p {
    color: aqua;
}
ul {
     list-style-type:none ; list-style-position: outside;
}
.yur {
    color: rgb(93, 31, 207); font-weight: lighter;
}
i {
    background-color: rgb(255, 0, 149);
}
.bbn {
    text-align: center; letter-spacing: 4px; word-spacing: 1px;
}
ol.li {
    list-style-position:inside ; color: aqua;
}